html
  head
    title I'm a teapot | Ali Craigmile
    meta(charset="utf-8")
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/bootstrap-combobox/js/bootstrap-combobox.js')
    link(rel='stylesheet', href='/bower_components/bootstrap-combobox/css/bootstrap-combobox.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')

  body
    div(class='container')
      h1 I'm a teapot
      aside
        p
          | © 2016 by Ali Craigmile |
          = ' '
          a(href='mailto:webmaster@xgusties.com') Contact Us

