
body { font-size: 1.2em; font-family: calibri,georgia,arial,verdna,helvetica; }
h1 { font-family: molotregular }
p { line-height: 1.3em; }
li { line-height: 1.3em }

ul {margin: 0px; padding: 0px;}
li {list-style: square; margin-left: 37px; padding: 0; padding-bottom: 8px;}

h1 { font-size: 2.0em; margin: 16px } 
h2 { font-size: 1.2em; margin: 16px }
p { margin: 16px }

#valid { font-size: 0.5em}
img { border: 1px solid #000 }

a, a:link { color: blue; }
a:visited { color: #99f; }
a:active { color: #99f; }
a:hover { color: green; }

/* normal sized screens */
section#header { text-align: center }
section#footer p { text-align: center }

body { min-width: 240px; max-width: 600px; background-color: #eee;}
@media only screen and (min-device-width : 600px) {
    body { margin: auto; width: 600px;}
}

@media only screen and (min-device-width : 1024px) {
    body { margin: auto; width: 768px;}
}