/*
body { background: url('stripe.png'); }
*/

body { font-size: 1.2em; font-family: calibri,georgia,arial,verdna,helvetica; }
h1 { font-family: molotregular }
p { line-height: 1.3em; max-width: 30em; }
li { line-height: 1.3em }

ul {margin: 0px; padding: 0px;}
li {list-style: square; margin-left: 37px; padding: 0; padding-bottom: 8px;}

h1 { font-size: 2.0em; margin: 16px } 
h2 { font-size: 1.2em; margin: 16px }
p { margin: 16px }

#valid { font-size: 0.5em}
img { border: 8px solid white; border-bottom: 40px solid white; box-shadow: 4px 8px #ccc}
body { background: #efefef }

/* screen > 800px */

/* screen <= 800px */

@media screen and (max-device-width:800px) {

}
